.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.text-warriorcolor {
  color: #C69B6D;
}

.text-warlockcolor {
  color: #8788EE;
}

.text-roguecolor {
  color: #FFF468;
}

.text-shamancolor {
  color: #0070DD;
}

.text-priestcolor {
  color: #FFFFFF;
}

.text-paladincolor {
  color: #F48CBA;
}

.text-monkcolor {
  color: #00FF96;
}

.text-magecolor {
  color: #69CCF0;
}

.text-huntercolor{
  color: #ABD473;
}

.text-evoker{
  color: #33937F;
}

.text-druidcolor{
  color: #FF7D0A;
}

.text-demonhuntercolor{
  color: #A330C9;
}

.text-deathknightcolor{
  color: #C41F3B;
}

.bg-alliance {
  
  background-color: #006fdd17;
}

.bg-horde {
  background-color: #c41f3b18;
}